<% content_for :body_class do %>small-header<% end %>

<% content_for :head do %>
  <link rel="stylesheet" href="/phone-model.css<%=cache_invalidator_param%>" media="screen" charset="utf-8">
  <script type="text/javascript" src="/vendor.js<%=cache_invalidator_param%>"></script>
  <script type="text/javascript" src="/flyer.js<%=cache_invalidator_param%>"></script>
<% end %>

<main class="flyer">
  <div class="uplink-status">Hold on, just getting ready...</div>

  <div class="connecting-loader">
    <%= erb :_loader %>
    <div class="back">
      <a href="/">&laquo; cancel</a>
    </div>
  </div>

  <div class="connection-active">
    <div class="phone-reading-panels">
      <div class="guage-widget">
        <ul class="labels">
          <li>0%</li>
          <li>25%</li>
          <li>50%</li>
          <li>75%</li>
          <li>100%</li>
        </ul>
        <div class="guage">
          <div class="inner"></div>
        </div>
        <div class="needle"></div>
        <div class="caption">
          LobForce™
        </div>
      </div>

      <div class="phone">
        <%= erb :_phone %>
      </div>
    </div>

    <p class="message"></p>

    <div class="leaderboard panel">
      <div class="submit-panel">
        <form class="panel" action="/submit-flight" method="post">
          <h3>Submit your <span class="max-altitude-message"></span> Lob to our leaderboard</h3>
          <input type="text" name="nickname" placeholder="Enter a nickname" required><button type="submit">Submit</button>
          <input type="hidden" name="max-altitude" value="0">
          <input type="hidden" name="max-flight-time" value="0">
        </form>
      </div>
      <div class="submitted-panel">
        <h3>You're in our leaderboard</h3>
        <p>Your height of <span class="max-altitude-message-submitted"></span> was submitted to the leaderboard.</p>
      </div>
      <a href="/leaderboard">View the leaderboard &raquo;</a>
  </div>
</main>

