<!DOCTYPE html>
<html lang="en">
<head <%= %{data-channel-name="#{channel_name.upcase}"} if defined?(channel_name)%>>
  <meta charset="UTF-8">

  <title>Give it a Lob</title>

  <meta name="description" content="See how how high you can throw your phone, and watch the results in real time">
  <meta name="author" content="Workshop 14 and Ably">
  <link rel="canonical" href="https://giveitalob.com/" />

  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Give it a Lob">
  <meta property="og:title" content="How high can you throw your phone?">
  <meta property="og:image" content="/public/header.png">
  <meta property="og:image:width" content="698">
  <meta property="og:image:height" content="396">
  <meta property="og:description" content="Track the accleration of you phone in realtime. The challenge is to record the highest throw.">
  <meta property="og:url" content="https://giveitalob.com/">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@crowdhailer" />
  <!-- most of the rest works from og -->

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- ****** faviconit.com favicons ****** -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
  <link rel="icon" type="image/png" sizes="196x196" href="/images/favicon/favicon-192.png">
  <link rel="icon" type="image/png" sizes="160x160" href="/images/favicon/favicon-160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96.png">
  <link rel="icon" type="image/png" sizes="64x64" href="/images/favicon/favicon-64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16.png">
  <link rel="apple-touch-icon" href="/images/favicon/favicon-57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/favicon-114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/favicon-72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/favicon-144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/favicon-60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/favicon-120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/favicon-76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/favicon-152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/favicon-180.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="/images/favicon/favicon-144.png">
  <meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
  <!-- ****** faviconit.com favicons ****** -->

  <link rel="stylesheet" href="/lob.css" media="screen" charset="utf-8">
  <script lang="text/javascript" src="//cdn.ably.io/lib/ably.min.js" ></script>

  <%= yield_content :head %>
</head>

<body class="<%= yield_content :body_class %>">
  <aside class="notices" onclick="Lob.closeAlert()">
    <section>
      <h1>Ooops!</h1>
      <p class="message"></p>
      <p class="close">Click to close</p>
    </section>
    <div class="sheet"></div>
  </aside>

  <header>
    <a href="/">
      <h1>Give it a Lob</h1>
      <h2>How high can you throw your phone?</h2>
      <img src="/images/heading.png" alt="Give it a lob" class="heading">
      <img src="/images/phone-rocket.png" alt="Phone rocketing" class="phone-rocket">
    </a>
  </header>

  <%= yield %>

  <footer>
    <ul>
      <li class="nav">
        <a href="/">Home</a>
      </li>
      <li class="nav">
        <a href="/about">About</a>
      </li>
      <li>
        Made by <a href="http://workshop14.io" target="_blank">Workshop14.io</a> &amp; <a href="https://ably.io" target="_blank">Ably</a>
      </li>
      <li>
        Realtime powered &amp; sponsored by <a href="https://ably.io" target="_blank">Ably</a>
      </li>
    </ul>
  </footer>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62043294-4', 'auto');
  ga('send', 'pageview');
  </script>
  <%= erb :_rollbar %>
</body>
</html>
