<main class="width-limited">
  <h3>
    Last <%= past %> Leaderboard
  </h3>
  <p>
    See results for last
    <%= case past
        when '24 hrs'
          '<a href="/leaderboard/week">week</a> or <a href="/leaderboard/month">month</a>.'
        when '7 days'
          '<a href="/leaderboard">day</a> or <a href="/leaderboard/month">month</a>.'
        else
          '<a href="/leaderboard">day</a> or <a href="/leaderboard/week">week</a>.'
        end %>
  </p>
  <hr>
  <% if leaderboard.empty? %>
  <p>
    <i>
      There are no entries for the last <%= past %>. Try another leaderboard.
    </i>
  </p>
  <% else %>
  <ol>
    <% leaderboard.each do |flight| %>
    <li><%= flight.username %>: <%= flight.max_altitude %>m</li>
    <% end %>
  </ol>
  <% end %>
</main>
